<div class="container-fluid py-5 px-3 px-md-4">
    <!-- Titelzeile -->
    <div class="row mb-3">
        <div class="col1">
            <h3>Portal</h3>
            <p class="text-muted">alle Kategorien in der Übersicht</p>
        </div>
    </div>
    <div class="container-fluid py-4">
        <div class="row g-4">
            @for (tile of tiles; track tile.id) {
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="card portal-card h-100">
                    <div class="card-header">
                        
                        <div class="d-flex justify-content-start">
                            <div ngbDropdown>
                                <button ngbDropdownToggle class="btn btn-link p-0">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem [routerLink]="tile.route">About</button>
                                    <button ngbDropdownItem>Aktion 2</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center d-flex flex-column justify-content-center" role="button"
                        [routerLink]="tile.route" routerLinkActive="active">
                        <img [src]="tile.icon" class="portal-card-icon mb" alt="{{ tile.icon }}" />
                       <!--  <i [class]="'bi ' + tile.icon + ' portal-card-icon mb-3'" aria-hidden="true"></i> -->

                        <h5 class="card-title">{{ tile.title }}</h5>
                        <p class="card-text text-muted">{{ tile.subtitle }}</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>