.project-card {
  transition: transform .2s ease, box-shadow .2s ease;
  box-shadow: 0 0.9rem 2.1rem rgba(241, 157, 2, 0.34);

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 1.2rem 2.6rem rgba(0, 0, 0, .30);
  }
}

.project-card-icon {
  width: 128px;
  height: 128px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
